---
layout: default
---

{% include header.html image="/assets/img/iag.png" title="WoSAMLA"
    subtitle="Workshop SPAnet de Machine Learning em Astronomia"
    boldtitle="true" %}

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="http://www.iag.usp.br" target="_blank">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-university m-auto"></i>
            </div>
            <h3>Instituição</h3>
            <p class="lead mb-3">Saiba mais sobre o Instituto de Astronomia, Geofísica e Ciências Atmosféricas</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://github.com/orgs/iagml/people">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-users m-auto"></i>
            </div>
            <h3>Pessoas</h3>
            <p class="lead mb-0">Conheça os participantes deste projeto</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://github.com/iagml" target="_blank">
          <div class="features-icons-item mx-auto mb-4 mb-lg-0">
            <div class="features-icons-icon d-flex">
              <i class="fab fa-github-alt m-auto"></i>
            </div>
            <h3>Resultados</h3>
            <p class="lead mb-0">Acesse nossa produção disponível no Github</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section style="padding: 6rem 0; background: rgb(241, 242, 243);">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h2 class="mb-4">Workshop SPAnet de Machine Learning em Astronomia</h2>
        <p class="lead">
          Técnicas de Inteligência Artificial estão tendo aplicação crescente em Astronomia, 
          na medida em que permitem resolver problemas que, de outro modo, não poderiam ser abordados. 
          Diversos grupos vêm apresentando soluções inovadoras, usando Machine Learning, para uma vasta 
          gama de problemas astrofísicos. Com este workshop queremos contribuir para o desenvolvimento 
          dessas atividades no Estado de São Paulo. O workshop será realizado em 27 de março de 2020 no 
          Instituto Mauá de Tecologia em São Bernardo do Campo.
        </p>
        <p class="lead">
          O workshop tem três objetivos principais: disseminar o conhecimento que tem sido produzido 
          em aplicações de ML à Astronomia no Estado de São Paulo, promover o networking entre os 
           pesquisadores atuando na área, principalmente entre os jovens e discutir possíveis ações 
          para promover o desenvolvimento e a visibilidade da área
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background: rgb(241, 242, 243); padding: 5rem 0;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-lg-3">
        <img src="/assets/img/prp_logo.png" alt="" width="100%">
      </div>
      <div class="col-8 col-lg-9">
        <p class="lead mb-0">
          Projeto apoiado pela Pró-Reitoria de Pesquisa da USP no Edital de Apoio a Projetos que Façam Uso de Sistemas
          Inteligentes
        </p>
      </div>
    </div>
  </div>
</section>
